@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

section.section1{
  background-color: #521755;
  padding-top: 2%;
  padding-bottom: 450px;
  position: relative;
}

img.logo{
  position: absolute;
  top: 15px;
  left: 15px;
}

nav.navBar{
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 2%;
  margin-right: 5vw;
}

li.navButton{
  list-style: none;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

section.section1Content{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25vw;
}

div.headers{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}

h1.zbc{
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  text-align: center;
  color: #FFFFFF;
}

h2.spaceDivision{
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  color: #FFFFFF;
}

h3.toInfinity{
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
}

div.blueButton{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1E95F6;
  width: 250px;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 25px;
  padding: 1%;
}

img.section1Image{
  width: 356px;
  height: 404px;
  margin-top: 55px;
}

img.homeWave{
  width: 100vw;
  position: absolute;
  bottom: 0px;
}